/* Alternating row colors */
.ag-theme-alpine .ag-row:nth-child(even) {
  background-color: #d3d3d3;
}

.ag-theme-alpine .ag-row:nth-child(odd) {
  background-color: #ffffff;
}

/* Employee list container */
.employee-list-container {
  background-color: #b7b9a777;
  padding: 20px;
  border-radius: 8px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Centered title */
.centered-title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.5rem;
  color: #5a5a5a;
}

/* Filter container */
.filter-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.filter-container div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* Search input */
#search {
  margin-left: 8px;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Filter labels and spans */
.filter-container span {
  margin-right: 8px;
}

.filter-container label {
  margin-right: 8px;
}

/* Page size container */
.page-size-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#pageSize {
  width: auto;
  margin-left: 8px;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Grid container */
.custom-grid {
  width: 100%;
  height: 400px;
}

/* Button container */
.button-container {
  margin-top: 20px;
  text-align: center;
}

.button-container button {
  padding: 10px 20px;
  background-color: #8fbf5a;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #7aae4d;
}
.ag-theme-alpine .custom-grid{
  display:flex;
  justify-content: center;
}

/* Media queries for responsiveness */
@media (max-width: 1024px) {
  .filter-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .page-size-container {
    justify-content: flex-start;
  }

  .button-container button {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .filter-container {
    flex-wrap: wrap;
  }

}

@media (max-width: 528px) {
  .filter-container div {
    flex-direction: column;
    align-items: flex-start;
  }

  #search {
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
  }

  #pageSize {
    margin-left: 0;
    margin-top: 10px;
  }


   




/* Media queries for responsiveness */
@media (max-width: 768px) {





  .ag-theme-alpine .ag-paging-panel {
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    
  }


}
  
 


}